---
---

.carousel.fade
  opacity: 1
  .item
    -moz-transition: opacity ease-in-out 1s
    -o-transition: opacity ease-in-out 1s
    -webkit-transition: opacity ease-in-out 1s
    transition: opacity ease-in-out 1s
    left: 0 !important
    opacity: 0
    top: 0
    position: absolute
    width: 100%
    display: block !important
    z-index: 1
    &:first-child
      top: auto
      position: relative
    &.active
      opacity: 1
      -moz-transition: opacity ease-in-out 1s
      -o-transition: opacity ease-in-out 1s
      -webkit-transition: opacity ease-in-out 1s
      transition: opacity ease-in-out 1s
      z-index: 2

.navbar-inner
  background: rgba(0,0,0,0.3)

.navbar-brand
  color: white

.nav li a
  color: white

#default
  margin-top: 75px
