<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
$('.navbar-nav a[href="' + window.location.pathname + '"]').addClass('active');
</script>


{% if page.layout == 'gallery' %}
<script>
$(function() {
  $("img.lazy").lazyload();
    threshold : 100
    effect : "fadeIn"
});
</script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/js/bootstrap-image-gallery.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
{% endif %}
