<!-- Navigation -->
<nav class="navbar-inner navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle icon-larger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="glyphicon glyphicon-off white"></span>
      </button>
      <a class="navbar-brand" href="/">Kevin Chau</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/photo/">Photo</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Contact <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="mailto:hello@kevinchau.me" target="blank">Email</a>
            </li>
            <!-- <li>
              <a href="https://linkedin.com/in/chaukevin" target="blank">LinkedIn</a>
            </li> -->
            <li>
              <a href="https://facebook.com/kchau" target="blank">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/kchau" target="blank">Twitter</a>
            </li>
            <li>
              <a href="https://instagram.com/thekchau" target="blank">Instagram</a>
            </li>
            <!-- <li>
              <a href="https://500px.com/kchau" target="blank">500px</a>
            </li> -->
          </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav nav-pills navbar-right">
        <li>
          <a href="http://kevinchau.pixieset.com" target="blank">Client Area</a>
        </li>
      	</ul>
    </div>
  </div>
</nav>
