<!-- Full Page Image Background Carousel Header
<header id="myCarousel" class="carousel fade">

  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/79399981/5ca6580af89c57b0caceebdcb781ceea0e93029f/2048.jpg');"></div>
    </div>
      <div class="item">
          <div class="fill" style="background-image:url('https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/72956959/619ebf31881a8801fd82debb632546984195f71b/2048.jpg');"></div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/68937069/1e7671bd633f4299c5edaecaa7c9591337b509a6/2048.jpg');"></div>
      </div>
  </div>

</header>
<-->

<ul class="cb-slideshow">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3></h3></div></li>
    <li><span>Image 02</span><div><h3></h3></div></li>
    <li><span>Image 03</span><div><h3></h3></div></li>
    <li><span>Image 04</span><div><h3></h3></div></li>
    <li><span>Image 05</span><div><h3></h3></div></li>
    <li><span>Image 06</span><div><h3></h3></div></li>
  </ul>
</ul>
